.logo{
	display: block;
	margin-right: auto;
	margin-left: auto;
	height: 200px;

}
nav ul li a{
	color: white;
	font-weight: bold;
	margin-left: 20px;


}
.fondo{

/* Ubicación de la imagen */

background-image: url(imagenes/usp.png);

/* Para dejar la imagen de fondo centrada, vertical y

horizontalmente */

background-position: center center;

/* Para que la imagen de fondo no se repita */

background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

background-size: cover;

/* Se muestra un color de fondo mientras se está cargando la imagen

de fondo o si hay problemas para cargarla */

background-color: #66999;

}
nav{
	opacity: 0.7;
}
.nav1{
	opacity: 1;
}
.nav2{
	opacity: 0.9;
}
h1{
	
	padding-left: 1px;
	
	
}
form {

   background-image: url("imagenes/deagle2.jpg");
   padding-top: 35px;
   opacity: 0.9;
   width: 450px;
   margin-left: 410px;
   margin-top: 150px;
   border-radius: 20px;
   font-family:"Times New Roman", Georgia, Serif;
   padding-bottom: 20px;
}
.text{
	margin-left: 25px;
}

.boton{
	margin-left: 40px;
}
